@media only screen and (min-width: 769px) {
#add-chips {
  width: 15%;
  position: absolute;
  right: 25%;
  top: 3%;
  font-size: 1.5em;
  border-radius: 0.5em;
}

.playing-card {
  border-radius: 1vh;
  background-image: url("img/logo.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: solid black 1px;
  width: 18vh;
  height: 24vh;
  /* height: 11em; */
  display: inline-block;
  position: relative;
  margin-left: -10vh;
  background-color: white;
  /* margin-top: .3em; */
}

/* .logo{
   max-width: 30%
   position: absolute;
   padding: 30%
} */

#hidden-card {
  background-image: url("img/playing_card.png");
  background-size: cover;
  border-radius: 1vh;
  border: solid black 1px;
  width: 18vh;
  height: 24vh;
  display: inline-block;
  position: relative;
  margin-left: -10vh;
  color: transparent;
}

.red {
  color: red;
}

.black {
  color: black;
}

#page {
  height: 100vh;
}

#blackjack-table {
  border-radius: 3vh;
  border: outset;
  border-width: 0.5em;
  border-color: rgb(72, 72, 72);
  background-color: #008000;
  box-shadow: -1em 1em;
  min-width: 70vh;
}

#main-section {
  max-height: 95%;
  padding: 3em;
}

#betting-actions {
  border-radius: 30px;
}

#header {
  margin-top: 1%;
  height: 1%;
  /* padding-right: 4%; */
  padding-left: 2em;
}

.center-text {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#deal-button {
  align-self: center;
  font-size: 3.5vh;
}
#dealer-cards {
  padding-left: 15%;
  min-height: 30vh;
  padding-top: 40%;
  /* margin-top: 5vh; */
}

#player-cards {
  padding-left: 15%;
  min-height: : 30vh;
}


.bottom-right {
  font-size: 3.5vh;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
}

.top-left {
  font-size: 3.5vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
}

#bottom-right-hidden {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  color: transparent;
}

#top-left-hidden {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  color: transparent;
}

#bet-card {
  padding-top: 20em;
}

#player-score {
  position: absolute;
  right: 1em;
  bottom: 0.25em;
}

#dealer-score {
  position: absolute;
  right: 1em;
  top: 0.25em;
}

#result {
  min-height: 10vh;
  font-size: 4vh;
  vertical-align: middle;
  text-align: center;
}

#hit {
   width: 20vw;
   height: 15vh;
  position: absolute;
  margin-top: 20%;
  right: 5em;
  top: 0.25em;
  border-radius: 1em;
}

#double-down-button {
  margin-top: 34vh;
  width: 20vw;
  right: 5em;
  height: 15%;
  position: absolute;
  border-radius: 1em;
  background-color: gold;
}

#stay {
  width: 20vw;
  height: 15vh;
  position: absolute;
  margin-bottom: 20%;
  right: 5em;
  bottom: 0.25em;
  border-radius: 1em;
}

#betting-rows {
  padding: 1em;
}

#bet-input {
  text-align: center;
  font-size: 4vh;
}

#bet-change-buttons {
  font-size: 3vh;
}

#bet-card-header {
  font-size: 3em;
}

#bet-currency {
  font-size: 2em;
  color: white;
}

#user-information {
  font-size: 2em;
  color: white;
  /* position: absolute;
  left: .01%;
  top: 2%; */
}

#win-percentage {
  color: white;
  font-size: 2em;
}

#logout-button {
  position: absolute;
  right: 5%;
  top: 3%;
  border: solid;
  border-width: medium;
  border-color: #dc3545;
}

#bet-card-header {
  margin-top: 30%;
  font-size: 4vw;
}
}



@media only screen and (max-width: 768px) {
   #page{
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-rows: 5% 1fr 30%;
   }

   #login-container{
      height: 100%;
      grid-row: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-left: 0;
   }

   #nav-bar{
      grid-row: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   #input-group-1{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 50%;
   }


   #login-input{
      width: 100%;
      height: 15%;
   }

   #login-button{

   }

   #login-input{
      align-self: center;
   }

   #blackjack-table {
     border-radius: 3vmin;
     border: outset;
     border-width: 0.5em;
     border-color: rgb(72, 72, 72);
     background-color: #008000;
     box-shadow: -1em 1em;
     height: 80%;
     width: 100%;
     margin: 5%;
     display: grid;
     grid-template-rows: 10% 1fr 10% 1fr 10%;
   }

   #main-section{
      grid-row: 2;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #wager-grid{
      height: 100%;
      display: grid;
      grid-template-rows: 10% 60% 30%;
   }

   .flex-center{
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #wager-title-div{
      grid-row: 1;
   }

   #wager-modifier-div{
      grid-row: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   #wager-amount-div{
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #deal-hand-div{
      grid-row: 3;
   }

   #bet-input{
      border: solid;
      width: 4em;
      height: 2em;
      font-size: 3vh;
      text-align: center;
   }

   #bet-currency{
      font-size: 3vh;
   }

   .bet-change-button{
      font-size: 100%;
      border: solid;
      height: 30%;
      width: 20%;
   }

   .playing-card {
     border-radius: 1vh;
     background-image: url("img/logo.png");
     background-size: 100%;
     background-position: center;
     background-repeat: no-repeat;
     border: solid black 1px;
     width: 12vh;
     height: 18vh;
     /* height: 11em; */
     display: inline-block;
     position: relative;
     background-color: white;
     /* margin-top: .3em; */
   }

   #hidden-card {
     background-image: url("img/playing_card.png");
     background-size: cover;
     border-radius: 1vh;
     border: solid black 1px;
     width: 12vh;
     height: 18vh;
     display: inline-block;
     position: relative;
     color: transparent;
   }

   .red {
     color: red;
   }

   .black {
     color: black;
   }

   .bottom-right {
     font-size: 3.5vh;
     position: absolute;
     bottom: 0;
     right: 0;
     padding: 4px;
   }

   .top-left {
     font-size: 3.5vh;
     position: absolute;
     top: 0;
     left: 0;
     padding: 4px;
   }

   #bottom-right-hidden {
     position: absolute;
     bottom: 0;
     right: 0;
     padding: 4px;
     color: transparent;
   }

   #top-left-hidden {
     position: absolute;
     top: 0;
     left: 0;
     padding: 4px;
     color: transparent;
   }

   #dealer-cards {
      grid-row: 2;
   }

   #player-cards {
      grid-row: 4;
   }

   #player-score{
      grid-row: 5;
      text-align: center;
   }
   #dealer-score{
      grid-row: 1;
      text-align: center;
   }

}
