#add-chips {
  width: 15%;
  position: absolute;
  right: 25%;
  top: 3%;
  font-size: 1.5em;
  border-radius: 0.5em;
}

.playing-card {
  border-radius: 10px;
  background-image: url("img/logo.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: solid black 1px;
  width: 7.5em;
  height: 11em;
  display: inline-block;
  position: relative;
  margin-left: -4em;
  background-color: white;
  /* margin-top: .3em; */
}

/* .logo{
   max-width: 30%
   position: absolute;
   padding: 30%
} */

#hidden-card {
  background-image: url("img/playing_card.png");
  background-size: cover;
  border-radius: 10px;
  border: solid black 1px;
  width: 7.5em;
  height: 11em;
  display: inline-block;
  position: relative;
  margin-left: -4em;
  color: transparent;
}

.red {
  color: red;
}

.black {
  color: black;
}

#page {
  height: 100vh;
}

#blackjack-table {
  border-radius: 30px;
  border: outset;
  border-width: 0.5em;
  border-color: rgb(72, 72, 72);
  background-color: #008000;
  box-shadow: -1em 1em;
  box-shadow-right: ;
}

#main-section {
  height: 95%;
  padding: 3em;
}

#betting-actions {
  border-radius: 30px;
}

#header {
  margin-top: 1%;
  height: 1%;
  /* padding-right: 4%; */
  padding-left: 2em;
}

.center-text {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#deal-button {
  align-self: center;
  font-size: 2em;
}
#dealer-cards {
  padding: 5%;
  padding-left: 15%;
  height: 15em;
}

#player-cards {
  padding: 5%;
  padding-left: 15%;
  height: 12em;
}
.bottom-right {
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
}

.top-left {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
}

#bottom-right-hidden {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  color: transparent;
}

#top-left-hidden {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  color: transparent;
}

#bet-card {
  padding-top: 20em;
}

#player-score {
  position: absolute;
  right: 1em;
  bottom: 0.25em;
}

#dealer-score {
  position: absolute;
  right: 1em;
  top: 0.25em;
}

#result {
  min-height: 10%;
  font-size: 1.75em;
  vertical-align: middle;
  text-align: center;
}

#hit {
  width: 60%;
  height: 20%;
  position: absolute;
  margin-top: 20%;
  right: 5em;
  top: 0.25em;
  border-radius: 1em;
}

#double-down-button {
  margin-top: 72%;
  width: 60%;
  right: 5em;
  height: 15%;
  position: absolute;
  border-radius: 1em;
  background-color: gold;
}

#stay {
  width: 60%;
  height: 20%;
  position: absolute;
  margin-bottom: 20%;
  right: 5em;
  bottom: 0.25em;
  border-radius: 1em;
}

#betting-rows {
  padding: 1em;
}

#bet-input {
  text-align: center;
  font-size: 2em;
}

#bet-change-buttons {
  font-size: 2em;
}

#bet-card-header {
  font-size: 3em;
}

#bet-currency {
  font-size: 2em;
  color: white;
}

#user-information {
  font-size: 2em;
  color: white;
  /* position: absolute;
  left: .01%;
  top: 2%; */
}

#win-percentage {
  color: white;
  font-size: 2em;
}

#logout-button {
  position: absolute;
  right: 5%;
  top: 3%;
  border: solid;
  border-width: medium;
  border-color: #dc3545;
}

#bet-card-header {
  margin-top: 30%;
}
