.playing-card {
  border-radius: 10px;
  background-image: url("img/logo.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: solid black 1px;
  width: 120px;
  height: 180px;
  display: inline-block;
  position: relative;
  margin-left: -40px;
  margin-right: 2px;
  background-color: white;
}

/* .logo{
   max-width: 30%
   position: absolute;
   padding: 30%
} */

#hidden-card {
  background-image: url("img/playing_card.png");
  background-size: cover;
  border-radius: 10px;
  border: solid black 1px;
  width: 120px;
  height: 180px;
  display: inline-block;
  position: relative;
  margin-left: -40px;
  margin-right: 2px;
  color: transparent;
}

.red {
  color: red;
}

.black {
  color: black;
}

#page {
  height: 100vh;
}

#blackjack-table {
  border-radius: 30px;
}

#main-section {
  height: 100%;
  padding: 5%;
}

#betting-actions {
  border-radius: 30px;
}

#header {
  height: 5%;
}

.center-text {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#new-hand {
  align-self: center;
}
#dealer-cards {
  padding: 5%;
  padding-left: 15%;
}

#player-cards {
  padding: 5%;
  padding-left: 15%;
}

.bottom-right {
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
}

.top-left {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
}

#bottom-right-hidden {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  color: transparent;
}

#top-left-hidden {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  color: transparent;
}

/* #increase-button {
  font-size: 2em;
} */
#bet-card{
   margin-top: 50%;
}
